{
    "image_full_name": "yvescabral/cd-testing",
    "repository_full_name": "yvescabral/cd-testing",
    "run_config": {
        // For more information take a look on Docker Py docs
        // https://docker-py.readthedocs.io/en/stable/containers.html#docker.models.containers.ContainerCollection.run
        "environment": {
            "FLASK_APP": "testing_app"
        },
        "ports": {
            "5000/tcp": {{ random_port }}
        }
    }
}
